ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-right {
    float: right;
}

.nav-image {
    height: 45px;
    width: 45px;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4caf50;
}

div#body {
    padding: 20px;
    height: 1500px;
    top: 30px;
    width: 100%;
}

h1 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.profile-image {
    Text-align: center;
    height: 150px;
    width: 150px;
}

div#img {
    text-align: center;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}