ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-right {
    float: right;
}

.nav-image {
    height: 45px;
    width: 45px;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4caf50;
}

h1 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.profile-image {
    Text-align: center;
    height: 150px;
    width: 150px;
}

div#img {
    text-align: center;
}

.position::before {
    display: block;
    content: "";
    height: 20px;
    visibility: hidden;
}

* {
    box-sizing: border-box
}

.position {
    margin-left: 2%;
    margin-right: 2%;
}


/* Slideshow container */

.slideshow-container {
    padding-top: 60px;
    width: 70%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.server {
    float: left;
    width: 50%;
}

.social {
    float: left;
    width: 50%;
}

.profile {
    align-content: center;
}

.profile-position {
    float: left;
    width: 10%;
}